<tbody>
<form method="post" action="http://localhost/key/admin/settings/updateUserRights" class="updateUserRights" id="1"
      onsubmit="return false;"></form>
<tr>
    <th>Section</th>
    <th>Add</th>
    <th>Edit</th>
    <th>View</th>
    <th>Delete</th>
</tr>
<tr>
    <td>4. Bookings</td>
    <td><input type="checkbox" class="checkbox-role" name="write[]" value="1"><input type="hidden" id="test"
                                                                                     class="hidden-role" name="write[]"
                                                                                     value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="edit[]"
                                                                   value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="read[]"
                                                                   value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="delete[]"
                                                                   value="0"></td>
</tr>
<tr>
    <td>2. Branches</td>
    <td><input type="checkbox" class="checkbox-role" name="write[]" value="1"><input type="hidden" id="test"
                                                                                     class="hidden-role" name="write[]"
                                                                                     value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="edit[]"
                                                                   value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="read[]"
                                                                   value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="delete[]"
                                                                   value="0"></td>
</tr>
<tr>
    <td>1. Car Models</td>
    <td><input type="checkbox" class="checkbox-role" name="write[]" value="1"><input type="hidden" id="test"
                                                                                     class="hidden-role" name="write[]"
                                                                                     value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="edit[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="edit[]" value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="read[]"
                                                                   value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="delete[]" value="1"><input type="hidden" class="hidden-role"
                                                                                      name="delete[]" value="0"></td>
</tr>
<tr>
    <td>3. Dropoff Charges</td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="write[]"
                                                                   value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="edit[]"
                                                                   value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="read[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="read[]" value="0"></td>
    <td><input class="emptyrcb" disabled="" type="checkbox"><input type="hidden" class="hidden-role" name="delete[]"
                                                                   value="0"></td>
</tr>
<tr>
    <td>5. Site Settings</td>
    <td><input type="checkbox" class="checkbox-role" name="write[]" value="1"><input type="hidden" id="test"
                                                                                     class="hidden-role" name="write[]"
                                                                                     value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="edit[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="edit[]" value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="read[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="read[]" value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="delete[]" value="1"><input type="hidden" class="hidden-role"
                                                                                      name="delete[]" value="0"></td>
</tr>
<tr>
    <td>6. User Accounts</td>
    <td><input type="checkbox" class="checkbox-role" name="write[]" value="1"><input type="hidden" id="test"
                                                                                     class="hidden-role" name="write[]"
                                                                                     value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="edit[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="edit[]" value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="read[]" value="1"><input type="hidden" class="hidden-role"
                                                                                    name="read[]" value="0"></td>
    <td><input type="checkbox" class="checkbox-role" name="delete[]" value="1"><input type="hidden" class="hidden-role"
                                                                                      name="delete[]" value="0"></td>
</tr>
<input type="hidden" name="role_id" value="1"></tbody>