// bootstrap override


$white:           #ffffff;
$gray-color:      #444444;
$gray_555:        #555555;
$grayishBlack:    #2a261f;
$paraGrap_color:  #868686;
$yellow:          #F8AC19;
$redish:          #9f073f;
$sandGray:        #f0f0e1;
$sandGrayPlus:    #dfdfd0;
$blue:            #007FFF;
$green:           #85B200;
$red:             #fe0000;
$cdcebc:          #cdcebc;
$eff0e0:          #eff0e0;

$left : left;
$right : right;

$font-size-base: 15px;
$placeholderColor: #333;

$full-width: 100%;
$background-size: cover;